@import "../functions.scss";

:root {
    --fontFamily: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --fontFamilyArabic: "Segoe UI Web (Arabic)";
    --fontFamilyChineseSimplified: "Microsoft Yahei UI", Verdana, Simsun;
    --fontFamilyChineseTraditional: "Microsoft Jhenghei UI", Pmingliu;
    --fontFamilyCyrillic: "Segoe UI Web (Cyrillic)";
    --fontFamilyEastEuropean: "Segoe UI Web (East European)";
    --fontFamilyGreek: "Segoe UI Web (Greek)";
    --fontFamilyHebrew: "Segoe UI Web (Hebrew)";
    --fontFamilyHindi: "Nirmala UI";
    --fontFamilyJapanese: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka;
    --fontFamilyKorean: "Malgun Gothic", Gulim;
    --fontFamilySelawik: "Selawik Web";
    --fontFamilyThai: "Leelawadee UI Web", "Kmer UI";
    --fontFamilyVietnamese: "Segoe UI Web (Vietnamese)";
    --fontFamilyWestEuropean: "Segoe UI Web (West European)";
    --fontFamilyArmenian: "Segoe UI Web (Armenian)";
    --fontFamilyGeorgian: "Segoe UI Web (Georgian)";
    // Standard font sizes.
    --fontSizeMini: rem(10px);
    --fontSizeXSmall: rem(10px);
    --fontSizeSmall: rem(12px);
    --fontSizeSmallPlus: rem(12px);
    --fontSizeMedium: rem(14px);
    --fontSizeMediumPlus: rem(16px);
    --fontSizeIcon: rem(16px);
    --fontSizeLarge: rem(18px);
    --fontSizeXLarge: rem(20px);
    --fontSizeXLargePlus: rem(24px);
    --fontSizeXXLarge: rem(28px);
    --fontSizeXXLargePlus: rem(32px);
    --fontSizeSuperLarge: rem(42px);
    --fontSizeMega: rem(68px);
    // Standard font weights.
    --fontWeightLight: 100;
    --fontWeightExtraLight: 200;
    --fontWeightSemiLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --fontWeightExtraBold: 800;
    --fontWeightBlack: 900;
    // Standard Icon Sizes.
    --iconFontSizeXSmall: rem(10px);
    --iconFontSizeSmall: rem(12px);
    --iconFontSizeMedium: rem(16px);
    --iconFontSizeLarge: rem(20px);
}
