:root {
    /*Theme*/
    --primary: #0078D4;
    --darkAlt: #106EBE;
    --dark: #005A9E;
    --themeLighter: #DEECF9;
    /*Neutral colors*/
    --white: #FFF;
    --black: #000;
    --grey10: #FAF9F8;
    --grey20: #F3F2F1;
    --grey30: #EDEBE9;
    --grey50: #D2D0CE;
    --grey90: #A19F9D;
    --grey60: #C8C6C4;
    --grey120: #797775;
    --grey130: #605E5C;
    --grey160: #323130;
    --grey180: #1B1A19;
    --grey190: #201F1E;
    --grey200: #1b1a19;
    --greyInputBorder: #8A8886;
    /*Shared*/
    --red20: #A4262C;
    --cyanBlue10: #0078D4;
    --blizzardBlue: #c7e0f4;
    --pinkRed10: #750b1c;
    /*Theme Slots*/
    --themeDarker: #004578;
    --themePrimary: #0078d4;
    /*Error & Status*/
    --green60: #DFF6DD;
    --green120: #107c10;
    --orange20: #fed9cc;
    --orange180: #d83b01;
    --errorBlockRed: #FDE7E9;
    --errorBlockIconRed: #a80000;
    --yellow20: #fff4ce;
    /*Presence*/
    --magenta: #b4009e;
    --gray110: #8A8886;
    --doNotDisturbRed: #C50F1F;
    --onlineGreen: #6bb700;
    --busyRed: #C43148;
    --orange10: #ffaa44;
    /*font family*/
    --fontFamily: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /*font weight*/
    --fontWeightThin: 100;
    --fontWeightExtraLight: 200;
    --fontWeightLight: 300;
    --fontWeightNormal: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --fontWeightExtraBold: 800;
    --fontWeightBlack: 900;
    /*border*/
    --borderRadius: 2px;
    --borderWidth: 1px;
}
