@import "../../../Styles/functions.scss";

.bit-btn {
    &.bit-btn-fluent {
        position: relative;
        min-width: rem(64px);
        border-radius: rem(2px);
        box-sizing: border-box;
        font-weight: 500;
        text-align: center;
        line-height: 1.75;
        text-decoration: none;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        cursor: pointer;
    }

    &.bit-btn-disabled-fluent {
        border: rem(1px) solid var(--neutralLighter);
        color: var(--neutralTertiary);
        background: var(--neutralLighter);
        cursor: default;
        pointer-events: none;
    }

    &.standard {
        border: rem(1px) solid var(--neutralSecondaryAlt);
        color: var(--neutralPrimary);
        background: var(--white);

        &:hover {
            border-color: var(--neutralPrimary);
            background-color: var(--neutralLighter);
        }

        &:active {
            background-color: var(--neutralLight);
        }
    }

    &.primary {
        border: rem(1px) solid var(--themePrimary);
        color: var(--white);
        background: var(--themePrimary);

        &:hover {
            background-color: var(--themeDarkAlt);
        }

        &:active {
            background-color: var(--themeDark);
        }
    }

    &.bit-btn-sm-fluent {
        padding: rem(4px) rem(10px);
        font-size: rem(13px);
    }

    &.bit-btn-md-fluent {
        padding: rem(6px) rem(16px);
        font-size: rem(14px);
    }

    &.bit-btn-lg-fluent {
        padding: rem(8px) rem(22px);
        font-size: rem(15px);
    }
}