@import "../../../Styles/functions.scss";

.bit-btn {
    position: relative;
    display: inline-block;
    min-width: rem(80px);
    height: rem(32px);
    border-radius: var(--roundedCorner2);
    outline: transparent;
    box-sizing: border-box;
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightRegular);
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    user-select: none;

    &.bit-btn-disabled {
        border: rem(1px) solid var(--neutralLighter);
        color: var(--neutralTertiary);
        background-color: var(--neutralLighter);
        cursor: default;
        pointer-events: none;
    }

    &.standard {
        border: rem(1px) solid var(--neutralSecondaryAlt);
        color: var(--neutralPrimary);
        font-weight: var(--fontWeightSemiBold);
        background-color: var(--white);

        &:hover {
            border-color: var(--neutralPrimary);
            background-color: var(--neutralLighter);
        }

        &:active {
            background-color: var(--neutralLight);
        }
    }

    &.primary {
        border: rem(1px) solid var(--themePrimary);
        color: var(--white);
        font-weight: var(--fontWeightSemiBold);
        background-color: var(--themePrimary);

        &:hover {
            background-color: var(--themeDarkAlt);
        }

        &:active {
            background-color: var(--themeDark);
        }
    }

    &.bit-btn-sm {
        padding: 4px 10px;
        font-size: var(--fontSizeSmall);
    }

    &.bit-btn-md {
        padding: 6px 16px;
        font-size: var(--fontSizeMedium);
    }

    &.bit-btn-lg {
        padding: 8px 22px;
        font-size: var(--fontSizeMediumPlus);
    }
}