@import "../functions.scss";

@font-face {
    font-family: "Fabric MDL2 Assets";
    src: url("../assets/fluent/fonts/FabMDL2.4.46.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Light"), url("../assets/fluent/fonts/segoe-ui-light.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Semilight"), url("../assets/fluent/fonts/segoe-ui-semilight.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url("../assets/fluent/fonts/segoe-ui-normal.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Semibold"), url("../assets/fluent/fonts/segoe-ui-semibold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Bold"), url("../assets/fluent/fonts/segoe-ui-bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

:root {
    --fontFamily: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    // Standard font sizes.
    --fontSizeXSmall: #{rem(10px)};
    --fontSizeSmall: #{rem(12px)};
    --fontSizeMedium: #{rem(14px)};
    --fontSizeMediumPlus: #{rem(16px)};
    --fontSizeIcon: #{rem(16px)};
    --fontSizeLarge: #{rem(18px)};
    --fontSizeXLarge: #{rem(20px)};
    --fontSizeXLargePlus: #{rem(24px)};
    --fontSizeXXLarge: #{rem(28px)};
    --fontSizeXXLargePlus: #{rem(32px)};
    --fontSizeSuperLarge: #{rem(42px)};
    --fontSizeMega: #{rem(68px)};
    // Standard font weights.
    --fontWeightThin: 100;
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    // Standard Icon Sizes.
    --iconFontSizeXSmall: #{rem(10px)};
    --iconFontSizeSmall: #{rem(12px)};
    --iconFontSizeMedium: #{rem(16px)};
    --iconFontSizeLarge: #{rem(20px)};
}
